div(width='100%', style='background: #eceff4; padding: 50px 20px; color: #514d6a;')
  div(style='max-width: 700px; margin: 0px auto; font-size: 14px')
    table(border='0', cellpadding='0', cellspacing='0', style='width: 100%; margin-bottom: 20px')
      tr
        td(style='vertical-align: top;')
          img(src=baseUrl+'/img/logo/logo-primary.png', alt='Idphotobook', style='height: 40px')
        td(style='text-align: right; vertical-align: middle;')
          span(style='color: #a09bb9;')
    div(style='padding: 40px 40px 20px 40px; background: #fff;')
      table(border='0', cellpadding='0', cellspacing='0', style='width: 100%;')
        tbody
          tr
            td
              h2(style='margin-bottom: 20px; color: #24222f; font-weight: 600') Terima Kasih kak!
              br
              h5(style='margin-bottom: 20px; color: #24222f; font-weight: 600') Pesanan Anda ##{order.order_code}
              table(border='0', cellpadding='0', cellspacing='0', style='width: 100%;')
                - var total = 0;
                each package in order.package_orders
                  each photobook,index in package.photobooks
                    tr
                      td(style='text-align: left; padding: 10px 10px 10px 0px; border-top: 3px solid #514d6a;')
                        if (index==0)
                          | #{package.package.name}
                      td(style='width: 35%; text-align: center; padding: 10px 10px; border-top: 3px solid #514d6a;')
                        | #{photobook.title}
                      td(style='width: 20%; text-align: right; padding: 10px 0px 10px 10px; white-space: nowrap; border-top: 3px solid #514d6a;')
                        | #{photobook.photos.length} Foto
                      - total += photobook.photos.length;
                        
                tr
                  td(style='text-align: left; padding: 10px 10px 10px 0px; border-top: 3px solid #514d6a;')
                    span(style='font-size: 18px; font-weight: bold') Total
                  td(style='width: 10%; text-align: center; padding: 10px 10px; border-top: 3px solid #514d6a;')
                  td(style='width: 20%; text-align: right; padding: 10px 0px 10px 10px; white-space: nowrap; border-top: 3px solid #514d6a;')
                    span(style='font-size: 18px; font-weight: bold') #{total} Foto
              br
              br
              h5(style='margin-bottom: 20px; color: #24222f; font-weight: 600') Detail
              table(border='0', cellpadding='0', cellspacing='0', style='width: 100%;')
                tr
                  td(style='text-align: left; padding: 10px 10px 10px 0px; border-top: 1px solid #d9d7e0; white-space: nowrap; vertical-align: top')
                    | Dikirim ke
                  td(style='width: 50%;padding: 10px 0px 10px 10px; border-top: 1px solid #d9d7e0;')
                    | #{order.customer_address.address}
                    if order.customer_address.address.subdistrict
                      br
                      | #{order.customer_address.address.subdistrict.name}, 
                    if order.customer_address.address.city
                      br 
                      | #{order.customer_address.address.city.name}
                    if order.customer_address.address.province                    
                      br
                      | #{order.customer_address.address.province.name}
              br
              br
              p(style='text-align: center')
                | Untuk Pertanyaan terkait proses orderan silahkan dapat menghubungi Customer support kami: 
                br
                | 085842799354
                | 085842799079
                | 085877820004
                | 085868091091
                | 081575607087
                | 085781891011
